/*Register*/
.register
{
    text-align: center;
    padding: 70px 20px 80px 20px;
    background: rgba(199, 201, 201, 0.8);
}
.register h1
{
    margin: 10px 0 15px 0;
    font-weight: bold;
    font-size: 22px;
}
.login-btn:hover
{
    background: #f1f5f5;
    border: 2px solid #88aaaa;
    text-decoration: none;
    color: rgb(5, 1, 10);
}
#sidenav {
    height: 50vh;
    width: 50px;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #fff; /* Set the background color to white */
    overflow-x: hidden;
    padding-top: 20px;
  }
/*end of Register-Page*/